

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.prds{
  
}
.carousel  img{
  width: 650px;
  height: 400px;
}

.social-icnos{
 color: white;


}
.social-icnos:hover{
  color: orange;
}

.navbar{
  background-color: teal;
}
.homePage{
  min-height: 100vh;
}
